{% extends 'catalogue/base.html' %} {% block content %}
<section class="products">
  <div class="main">
    <div class="items">


      {% for product in products %}
      <div class="item">
        <div class="item__position">
          <img src="{{ product.image.url }}" alt="{{ product.name }}" class="item__image" />
        </div>
        <div class="item__detail">
          <h2>{{ product.name }}</h2>
          <h4><span>ZMW</span> {{ product.price }}</h4>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</section>
{% endblock %}