{% extends 'catalogue/base.html' %} {% block content %}
<section class="products">
  <div class="main">
    <div class="items">
      <div class="item">
        <div class="item__position">
          <img src="/static/images/products/1.jpg" alt="Plant 1"
            class="item__image item__image--hue" />
        </div>
        <div class="item__detail">
          <p>Plant 1</p>
        </div>
      </div>
      <div class="item">
        <div class="item__position">
          <img src="/static/images/products/2.jpg" alt="Plant 2"
            class="item__image item__image--hue" />
        </div>
        <div class="item__detail">
          <p>Plant 2</p>
        </div>
      </div>
      <div class="item">
        <div class="item__position">
          <img src="/static/images/products/3.jpg" alt="Plant 3"
            class="item__image" />
        </div>
        <div class="item__detail">
          <p>Plant 3</p>
        </div>
      </div>
      <div class="item">
        <div class="item__position">
          <img src="/static/images/products/4.jpg" alt="Plant 4"
            class="item__image item__image--hue" />
        </div>
        <div class="item__detail">
          <p>Plant 4</p>
        </div>
      </div>
      <div class="item">
        <div class="item__position">
          <img src="/static/images/products/5.jpg" alt="Plant 5"
            class="item__image item__image--hue" />
        </div>
        <div class="item__detail">
          <p>Plant 5</p>
        </div>
      </div>

      <div class="item">
        <div class="item__position">
          <img src="/static/images/products/6.jpg" alt="Plant 7"
            class="item__image" />
        </div>
        <div class="item__detail">
          <p>Plant 7</p>
        </div>
      </div>
      <div class="item">
        <div class="item__position">
          <img src="/static/images/products/7.jpg" alt="Plant 8"
            class="item__image item__image--hue" />
        </div>
        <div class="item__detail">
          <p>Plant 8</p>
        </div>
      </div>
      <div class="item">
        <div class="item__position">
          <img src="/static/images/products/8.jpg" alt="Plant 9"
            class="item__image" />
        </div>
        <div class="item__detail">
          <p>Plant 9</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}